/* Reset básico para garantir uma base consistente entre navegadores */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body{
    background-color: #4a47a3;
}
/* Estilização do container de links do menu superior */
.container-link {
    display: flex;
    justify-content: center;
    gap: 15px;
    background-color: #ffffff;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 3%);
    padding: 10px;
}


.container-link a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

.container-link a:hover {
    color: #93999d;
}

/* Estilização do formulário de transferência */


form h2 {
    margin-bottom: 20px;
    color: #ffffff;
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #bdc3c7;
    border-radius: 5px;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #2ecc71;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #27ae60;
}

/* Estilização da notificação */
.notification {
    max-width: 400px;
    margin: 20px auto;
    padding: 15px;
    background-color: #2ecc71;
    color: white;
    border-radius: 5px;
    text-align: center;
    display: none;
}

.notification.error {
    background-color: #e74c3c;
}

.notification.show {
    display: block;
}

.container-link {
        margin-bottom: 15px;
}
.container-link a:hover {
        text-decoration: underline;
}
input {
    margin-top: 5px;
    padding: 10px;
    width: 100%;
    max-width: 300px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f9fa;
}
input[readonly] {
    background-color: #a1a2a4;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.form-container{
    background-color: #fdfeff;
    padding: 20px 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin: 50px auto;
    margin-top: 50px;
}
.a-container{
    margin-top: 18px;
}
form h2{
    text-align: center;
    margin-bottom: 20px;
    color: #000000;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}
.container a{
    color: #000000;
}
.h1_dash{
    text-align: center;
    color: #000000;
}
p{
    text-align: center;
    font-weight: bold;
    text-decoration: none;
}
/* dashboard */
